body {
  margin: 0;
}

.top-left {
  grid-area: top-left-border;
}

.top-right {
  grid-area: top-right-border;
}

.bottom-left {
  grid-area: bottom-left-border;
}

.bottom-right {
  grid-area: bottom-right-border;
}

.corners {
  place-self: center;
}

.copy {
  grid-area: copy-button;
  place-self: center;
}

.center {
  grid-area: box;
  border: 1px dashed black;
  background: linear-gradient(45deg, red, orange);
  transition: border-radius 1s;
}

.container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas: 
    "top-left-border copy-button copy-button top-right-border"
    ". box box ."
    ". box box ."
    "bottom-left-border . . bottom-right-border";
}